html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body-sell {
  background-color: rgb(235, 159, 18);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.warning-message {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.body-gameView {
  background-color: orange;
}

.card {
  background-color: white;
  color: black;
}

.btn-custom, .p-custom {
  background-color: white !important;
  color: black !important;
  width: 250px;
  height: 50px;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.btn-danger.btn-custom {
  background-color: red !important;
  color: white !important;
  width: 250px; /* Asigură că are aceeași lățime */
}

.btn-custom:hover {
  background-color: white;
  color: black;
}

.img-custom {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.btn-custom-sell {
  background-color: rgb(224, 133, 13);
  color: black;
  width: 250px;
}


.button-right-bottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ed5509;
  color: rgb(13, 13, 13);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-right-bottom:hover {
  background-color: #45a049;
}

.row-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.row-text p {
  margin: 0 10px;
}

.input-custom {
  background-color: rgb(224, 133, 13);
  color: black;
  width: 250px;
}